#cssmenu {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	ul {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none;
		line-height: 1;
		display: block;
		position: relative;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		li {
			margin: 0;
			padding: 0;
			border: 0;
			list-style: none;
			line-height: 1;
			display: block;
			position: relative;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			a {
				margin: 0;
				padding: 0;
				border: 0;
				list-style: none;
				line-height: 1;
				display: block;
				position: relative;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
		}
		ul {
			position: absolute;
			left: -9999px;
			li {
				height: 0;
				-webkit-transition: all .25s ease;
				-moz-transition: all .25s ease;
				-ms-transition: all .25s ease;
				-o-transition: all .25s ease;
				transition: all .25s ease;
				a {
					border-top: 1px rgba(255,255,255,0.22) solid;
					padding: 11px 15px;
					width: 190px;
					font-size: 16px;
					text-decoration: none;
					color: #FFF;
					font-weight: 400;
					background: #010101;
					line-height: 22px;
					&:hover {
						background: #3e3d3d;
						color: #fff;
					}
				}
				&:first-child {
					>a {
						border-top: 0;
					}
				}
				&:last-child {
					>a {
						border-bottom: 0;
					}
				}
				&:hover {
					>a {
						background: #3e3d3d;
						color: #fff;
					}
				}
			}
			ul {
				margin-left: 100%;
				top: 0;
			}
			li.last-item {
				>a {
					border-bottom: 0;
				}
			}
			li.has-sub {
				>a {
					&:after {
						position: absolute;
						top: 16px;
						right: 11px;
						width: 8px;
						height: 2px;
						display: block;
						background: #dddddd;
						content: '';
					}
					&:before {
						position: absolute;
						top: 13px;
						right: 14px;
						display: block;
						width: 2px;
						height: 8px;
						background: #dddddd;
						content: '';
						-webkit-transition: all .25s ease;
						-moz-transition: all .25s ease;
						-ms-transition: all .25s ease;
						-o-transition: all .25s ease;
						transition: all .25s ease;
					}
				}
			}
			>li.has-sub {
				&:hover {
					>a {
						&:before {
							top: 17px;
							height: 0;
						}
					}
				}
			}
		}
	}
	#menu-button {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none;
		line-height: 1;
		display: block;
		position: relative;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: none;
	}
	&:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	>ul {
		&:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}
		>li {
			float: left;
			position: relative;
			&:after {
				content: '.';
				position: absolute;
				bottom: 0;
				right: 0;
				color: #FFF;
				font-size: 40px;
				font-weight: 600px;
				color: #f5d002;
			}
			&:last-child {
				&:after {
					display: none;
				}
				>a {
					padding-right: 0px;
				}
			}
			>a {
				padding: 0px 30px;
				font-size: 22px;
				text-decoration: none;
				color: #FFF;
				font-weight: 400;
				text-transform: capitalize;
			}
			&:hover {
				>a {
					color: #f5d002;
				}
			}
		}
		>li.has-sub {
			>a {
				padding-right: 25px;
				&:after {
					position: absolute;
					top: 22px;
					right: 11px;
					width: 8px;
					height: 2px;
					display: block;
					background: #6b6b6b;
					content: '';
				}
				&:before {
					position: absolute;
					top: 19px;
					right: 14px;
					display: block;
					width: 2px;
					height: 8px;
					background: #6b6b6b;
					content: '';
					-webkit-transition: all .25s ease;
					-moz-transition: all .25s ease;
					-ms-transition: all .25s ease;
					-o-transition: all .25s ease;
					transition: all .25s ease;
				}
			}
			&:hover {
				>a {
					&:before {
						top: 23px;
						height: 0;
					}
				}
			}
		}
	}
	li {
		&:hover {
			>ul {
				left: auto;
				>li {
					height: auto;
				}
			}
		}
	}
	li.item-align-right {
		&:hover {
			>ul {
				left: auto;
				right: 0;
			}
		}
	}
}
#cssmenu.align-center {
	>ul {
		font-size: 0;
		text-align: center;
		>li {
			display: inline-block;
			float: none;
		}
	}
	ul {
		ul {
			text-align: left;
		}
	}
}
#cssmenu.align-right {
	>ul {
		>li {
			float: right;
		}
	}
	ul {
		ul {
			text-align: right;
			ul {
				margin-left: 0;
				margin-right: 100%;
			}
			li.has-sub {
				>a {
					&:after {
						right: auto;
						left: 11px;
					}
					&:before {
						right: auto;
						left: 14px;
					}
				}
			}
		}
	}
	li {
		&:hover {
			>ul {
				left: auto;
				right: 0;
			}
		}
	}
}
@media all and (max-width: 768px) {
	#cssmenu {
		width: 100%;
		ul {
			width: 100%;
			display: none;
			background: #191919;
			li {
				width: 100%;
				border-top: 1px solid rgba(120, 120, 120, 0.2);
				a {
					width: 100%;
					border-bottom: 0;
					color: #FFF;
					&:hover {
						background: #000;
					}
				}
			}
			ul {
				li {
					height: auto;
					a {
						width: 100%;
						border-bottom: 0;
						color: #FFF;
						padding-left: 25px;
						color: #FFF;
						background: none;
						&:hover {
							background: #000;
						}
					}
					&:hover {
						>a {
							color: #ffffff;
						}
					}
				}
				ul {
					li {
						a {
							padding-left: 35px;
						}
					}
					position: relative;
					left: 0;
					width: 100%;
					margin: 0;
					text-align: left;
				}
				li.active {
					>a {
						color: #ffffff;
					}
				}
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				text-align: left;
				>li.has-sub {
					>a {
						&:after {
							display: none;
						}
						&:before {
							display: none;
						}
					}
				}
				.submenu-button {
					height: 34px;
					width: 34px;
					&:after {
						top: 15px;
						right: 13px;
					}
					&:before {
						top: 12px;
						right: 16px;
					}
				}
			}
		}
		>ul {
			>li {
				&:after {
					display: none;
				}
				>a {
					padding: 15px;
					background: #000;
					font-size: 16px;
				}
				float: none;
			}
			>li.has-sub {
				>a {
					&:after {
						display: none;
					}
					&:before {
						display: none;
					}
				}
			}
		}
		li {
			&:hover {
				>ul {
					>li {
						height: auto;
					}
				}
			}
		}
		#menu-button {
			display: block;
			padding: 13px 17px;
			color: #FFF;
			cursor: pointer;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
			background: #191919;
			width: 100px;
			position: absolute;
			right: 0;
			top: -55px;
			&:after {
				position: absolute;
				top: 20px;
				right: 17px;
				display: block;
				height: 8px;
				width: 20px;
				border-top: 2px solid #FFF;
				border-bottom: 2px solid #FFF;
				content: '';
			}
			&:before {
				position: absolute;
				top: 14px;
				right: 17px;
				display: block;
				height: 2px;
				width: 20px;
				background: #FFF;
				content: '';
			}
		}
		#menu-button.menu-opened {
			&:after {
				top: 21px;
				border: 0;
				height: 2px;
				width: 15px;
				background: #ffffff;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:before {
				top: 21px;
				background: #ffffff;
				width: 15px;
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
		.submenu-button {
			position: absolute;
			z-index: 99;
			right: 0;
			top: 0;
			display: block;
			border-left: 1px solid rgba(120, 120, 120, 0.2);
			height: 46px;
			width: 46px;
			cursor: pointer;
			&:after {
				position: absolute;
				top: 22px;
				right: 19px;
				width: 8px;
				height: 2px;
				display: block;
				background: #ffffff;
				content: '';
			}
			&:before {
				position: absolute;
				top: 19px;
				right: 22px;
				display: block;
				width: 2px;
				height: 8px;
				background: #ffffff;
				content: '';
			}
		}
		.submenu-button.submenu-opened {
			background: #262626;
			&:after {
				background: #ffffff;
			}
			&:before {
				display: none;
			}
		}
	}
	#cssmenu.align-center {
		>ul {
			text-align: left;
		}
	}
	#cssmenu.align-right {
		ul {
			ul {
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				text-align: left;
			}
		}
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px) {
	#cssmenu {
		width: 100%;
		ul {
			width: 100%;
			display: none;
			background: #191919;
			li {
				width: 100%;
				border-top: 1px solid rgba(120, 120, 120, 0.2);
				a {
					width: 100%;
					border-bottom: 0;
					color: #FFF;
					&:hover {
						background: #000;
					}
				}
			}
			ul {
				li {
					height: auto;
					a {
						width: 100%;
						border-bottom: 0;
						color: #FFF;
						padding-left: 25px;
						color: #FFF;
						background: none;
						&:hover {
							background: #000;
						}
					}
					&:hover {
						>a {
							color: #ffffff;
						}
					}
				}
				ul {
					li {
						a {
							padding-left: 35px;
						}
					}
					position: relative;
					left: 0;
					width: 100%;
					margin: 0;
					text-align: left;
				}
				li.active {
					>a {
						color: #ffffff;
					}
				}
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				text-align: left;
				>li.has-sub {
					>a {
						&:after {
							display: none;
						}
						&:before {
							display: none;
						}
					}
				}
				.submenu-button {
					height: 34px;
					width: 34px;
					&:after {
						top: 15px;
						right: 13px;
					}
					&:before {
						top: 12px;
						right: 16px;
					}
				}
			}
		}
		>ul {
			>li {
				&:after {
					display: none;
				}
				>a {
					padding: 15px;
					background: #000;
					font-size: 16px;
				}
				float: none;
			}
			>li.has-sub {
				>a {
					&:after {
						display: none;
					}
					&:before {
						display: none;
					}
				}
			}
		}
		li {
			&:hover {
				>ul {
					>li {
						height: auto;
					}
				}
			}
		}
		#menu-button {
			display: block;
			padding: 13px 17px;
			color: #FFF;
			cursor: pointer;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
			background: #191919;
			width: 100px;
			position: absolute;
			right: 0;
			top: -55px;
			&:after {
				position: absolute;
				top: 20px;
				right: 17px;
				display: block;
				height: 8px;
				width: 20px;
				border-top: 2px solid #FFF;
				border-bottom: 2px solid #FFF;
				content: '';
			}
			&:before {
				position: absolute;
				top: 14px;
				right: 17px;
				display: block;
				height: 2px;
				width: 20px;
				background: #FFF;
				content: '';
			}
		}
		#menu-button.menu-opened {
			&:after {
				top: 21px;
				border: 0;
				height: 2px;
				width: 15px;
				background: #ffffff;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:before {
				top: 21px;
				background: #ffffff;
				width: 15px;
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
		.submenu-button {
			position: absolute;
			z-index: 99;
			right: 0;
			top: 0;
			display: block;
			border-left: 1px solid rgba(120, 120, 120, 0.2);
			height: 46px;
			width: 46px;
			cursor: pointer;
			&:after {
				position: absolute;
				top: 22px;
				right: 19px;
				width: 8px;
				height: 2px;
				display: block;
				background: #ffffff;
				content: '';
			}
			&:before {
				position: absolute;
				top: 19px;
				right: 22px;
				display: block;
				width: 2px;
				height: 8px;
				background: #ffffff;
				content: '';
			}
		}
		.submenu-button.submenu-opened {
			background: #262626;
			&:after {
				background: #ffffff;
			}
			&:before {
				display: none;
			}
		}
	}
	#cssmenu.align-center {
		>ul {
			text-align: left;
		}
	}
	#cssmenu.align-right {
		ul {
			ul {
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				text-align: left;
			}
		}
	}
}
@media only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px) {
	#cssmenu {
		width: 100%;
		ul {
			width: 100%;
			display: none;
			background: #191919;
			li {
				width: 100%;
				border-top: 1px solid rgba(120, 120, 120, 0.2);
				a {
					width: 100%;
					border-bottom: 0;
					color: #FFF;
					&:hover {
						background: #000;
					}
				}
			}
			ul {
				li {
					height: auto;
					a {
						width: 100%;
						border-bottom: 0;
						color: #FFF;
						padding-left: 25px;
						color: #FFF;
						background: none;
						&:hover {
							background: #000;
						}
					}
					&:hover {
						>a {
							color: #ffffff;
						}
					}
				}
				ul {
					li {
						a {
							padding-left: 35px;
						}
					}
					position: relative;
					left: 0;
					width: 100%;
					margin: 0;
					text-align: left;
				}
				li.active {
					>a {
						color: #ffffff;
					}
				}
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				text-align: left;
				>li.has-sub {
					>a {
						&:after {
							display: none;
						}
						&:before {
							display: none;
						}
					}
				}
				.submenu-button {
					height: 34px;
					width: 34px;
					&:after {
						top: 15px;
						right: 13px;
					}
					&:before {
						top: 12px;
						right: 16px;
					}
				}
			}
		}
		>ul {
			>li {
				&:after {
					display: none;
				}
				>a {
					padding: 15px;
					background: #000;
					font-size: 16px;
				}
				float: none;
			}
			>li.has-sub {
				>a {
					&:after {
						display: none;
					}
					&:before {
						display: none;
					}
				}
			}
		}
		li {
			&:hover {
				>ul {
					>li {
						height: auto;
					}
				}
			}
		}
		#menu-button {
			display: block;
			padding: 13px 17px;
			color: #FFF;
			cursor: pointer;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
			background: #191919;
			width: 100px;
			position: absolute;
			right: 0;
			top: -55px;
			&:after {
				position: absolute;
				top: 20px;
				right: 17px;
				display: block;
				height: 8px;
				width: 20px;
				border-top: 2px solid #FFF;
				border-bottom: 2px solid #FFF;
				content: '';
			}
			&:before {
				position: absolute;
				top: 14px;
				right: 17px;
				display: block;
				height: 2px;
				width: 20px;
				background: #FFF;
				content: '';
			}
		}
		#menu-button.menu-opened {
			&:after {
				top: 21px;
				border: 0;
				height: 2px;
				width: 15px;
				background: #ffffff;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:before {
				top: 21px;
				background: #ffffff;
				width: 15px;
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
		.submenu-button {
			position: absolute;
			z-index: 99;
			right: 0;
			top: 0;
			display: block;
			border-left: 1px solid rgba(120, 120, 120, 0.2);
			height: 46px;
			width: 46px;
			cursor: pointer;
			&:after {
				position: absolute;
				top: 22px;
				right: 19px;
				width: 8px;
				height: 2px;
				display: block;
				background: #ffffff;
				content: '';
			}
			&:before {
				position: absolute;
				top: 19px;
				right: 22px;
				display: block;
				width: 2px;
				height: 8px;
				background: #ffffff;
				content: '';
			}
		}
		.submenu-button.submenu-opened {
			background: #262626;
			&:after {
				background: #ffffff;
			}
			&:before {
				display: none;
			}
		}
	}
	#cssmenu.align-center {
		>ul {
			text-align: left;
		}
	}
	#cssmenu.align-right {
		ul {
			ul {
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				text-align: left;
			}
		}
	}
}
@media only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px) {
	#cssmenu {
		width: 100%;
		ul {
			width: 100%;
			display: none;
			background: #191919;
			li {
				width: 100%;
				border-top: 1px solid rgba(120, 120, 120, 0.2);
				a {
					width: 100%;
					border-bottom: 0;
					color: #FFF;
					&:hover {
						background: #000;
					}
				}
			}
			ul {
				li {
					height: auto;
					a {
						width: 100%;
						border-bottom: 0;
						color: #FFF;
						padding-left: 25px;
						color: #FFF;
						background: none;
						&:hover {
							background: #000;
						}
					}
					&:hover {
						>a {
							color: #ffffff;
						}
					}
				}
				ul {
					li {
						a {
							padding-left: 35px;
						}
					}
					position: relative;
					left: 0;
					width: 100%;
					margin: 0;
					text-align: left;
				}
				li.active {
					>a {
						color: #ffffff;
					}
				}
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				text-align: left;
				>li.has-sub {
					>a {
						&:after {
							display: none;
						}
						&:before {
							display: none;
						}
					}
				}
				.submenu-button {
					height: 34px;
					width: 34px;
					&:after {
						top: 15px;
						right: 13px;
					}
					&:before {
						top: 12px;
						right: 16px;
					}
				}
			}
		}
		>ul {
			>li {
				&:after {
					display: none;
				}
				>a {
					padding: 15px;
					background: #000;
					font-size: 16px;
				}
				float: none;
			}
			>li.has-sub {
				>a {
					&:after {
						display: none;
					}
					&:before {
						display: none;
					}
				}
			}
		}
		li {
			&:hover {
				>ul {
					>li {
						height: auto;
					}
				}
			}
		}
		#menu-button {
			display: block;
			padding: 13px 17px;
			color: #FFF;
			cursor: pointer;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
			background: #191919;
			width: 100px;
			position: absolute;
			right: 0;
			top: -55px;
			&:after {
				position: absolute;
				top: 20px;
				right: 17px;
				display: block;
				height: 8px;
				width: 20px;
				border-top: 2px solid #FFF;
				border-bottom: 2px solid #FFF;
				content: '';
			}
			&:before {
				position: absolute;
				top: 14px;
				right: 17px;
				display: block;
				height: 2px;
				width: 20px;
				background: #FFF;
				content: '';
			}
		}
		#menu-button.menu-opened {
			&:after {
				top: 21px;
				border: 0;
				height: 2px;
				width: 15px;
				background: #ffffff;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:before {
				top: 21px;
				background: #ffffff;
				width: 15px;
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
		.submenu-button {
			position: absolute;
			z-index: 99;
			right: 0;
			top: 0;
			display: block;
			border-left: 1px solid rgba(120, 120, 120, 0.2);
			height: 46px;
			width: 46px;
			cursor: pointer;
			&:after {
				position: absolute;
				top: 22px;
				right: 19px;
				width: 8px;
				height: 2px;
				display: block;
				background: #ffffff;
				content: '';
			}
			&:before {
				position: absolute;
				top: 19px;
				right: 22px;
				display: block;
				width: 2px;
				height: 8px;
				background: #ffffff;
				content: '';
			}
		}
		.submenu-button.submenu-opened {
			background: #262626;
			&:after {
				background: #ffffff;
			}
			&:before {
				display: none;
			}
		}
	}
	#cssmenu.align-center {
		>ul {
			text-align: left;
		}
	}
	#cssmenu.align-right {
		ul {
			ul {
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				text-align: left;
			}
		}
	}
}
@media only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px) {
	#cssmenu {
		width: 100%;
		ul {
			width: 100%;
			display: none;
			background: #191919;
			li {
				width: 100%;
				border-top: 1px solid rgba(120, 120, 120, 0.2);
				a {
					width: 100%;
					border-bottom: 0;
					color: #FFF;
					&:hover {
						background: #000;
					}
				}
			}
			ul {
				li {
					height: auto;
					a {
						width: 100%;
						border-bottom: 0;
						color: #FFF;
						padding-left: 25px;
						color: #FFF;
						background: none;
						&:hover {
							background: #000;
						}
					}
					&:hover {
						>a {
							color: #ffffff;
						}
					}
				}
				ul {
					li {
						a {
							padding-left: 35px;
						}
					}
					position: relative;
					left: 0;
					width: 100%;
					margin: 0;
					text-align: left;
				}
				li.active {
					>a {
						color: #ffffff;
					}
				}
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				text-align: left;
				>li.has-sub {
					>a {
						&:after {
							display: none;
						}
						&:before {
							display: none;
						}
					}
				}
				.submenu-button {
					height: 34px;
					width: 34px;
					&:after {
						top: 15px;
						right: 13px;
					}
					&:before {
						top: 12px;
						right: 16px;
					}
				}
			}
		}
		>ul {
			>li {
				&:after {
					display: none;
				}
				>a {
					padding: 15px;
					background: #000;
					font-size: 16px;
				}
				float: none;
			}
			>li.has-sub {
				>a {
					&:after {
						display: none;
					}
					&:before {
						display: none;
					}
				}
			}
		}
		li {
			&:hover {
				>ul {
					>li {
						height: auto;
					}
				}
			}
		}
		#menu-button {
			display: block;
			padding: 13px 17px;
			color: #FFF;
			cursor: pointer;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
			background: #191919;
			width: 100px;
			position: absolute;
			right: 0;
			top: -55px;
			&:after {
				position: absolute;
				top: 20px;
				right: 17px;
				display: block;
				height: 8px;
				width: 20px;
				border-top: 2px solid #FFF;
				border-bottom: 2px solid #FFF;
				content: '';
			}
			&:before {
				position: absolute;
				top: 14px;
				right: 17px;
				display: block;
				height: 2px;
				width: 20px;
				background: #FFF;
				content: '';
			}
		}
		#menu-button.menu-opened {
			&:after {
				top: 21px;
				border: 0;
				height: 2px;
				width: 15px;
				background: #ffffff;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:before {
				top: 21px;
				background: #ffffff;
				width: 15px;
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
		.submenu-button {
			position: absolute;
			z-index: 99;
			right: 0;
			top: 0;
			display: block;
			border-left: 1px solid rgba(120, 120, 120, 0.2);
			height: 46px;
			width: 46px;
			cursor: pointer;
			&:after {
				position: absolute;
				top: 22px;
				right: 19px;
				width: 8px;
				height: 2px;
				display: block;
				background: #ffffff;
				content: '';
			}
			&:before {
				position: absolute;
				top: 19px;
				right: 22px;
				display: block;
				width: 2px;
				height: 8px;
				background: #ffffff;
				content: '';
			}
		}
		.submenu-button.submenu-opened {
			background: #262626;
			&:after {
				background: #ffffff;
			}
			&:before {
				display: none;
			}
		}
	}
	#cssmenu.align-center {
		>ul {
			text-align: left;
		}
	}
	#cssmenu.align-right {
		ul {
			ul {
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				text-align: left;
			}
		}
	}
}
@media only screen and (min-resolution: 192dpi) and (max-width: 1024px) {
	#cssmenu {
		width: 100%;
		ul {
			width: 100%;
			display: none;
			background: #191919;
			li {
				width: 100%;
				border-top: 1px solid rgba(120, 120, 120, 0.2);
				a {
					width: 100%;
					border-bottom: 0;
					color: #FFF;
					&:hover {
						background: #000;
					}
				}
			}
			ul {
				li {
					height: auto;
					a {
						width: 100%;
						border-bottom: 0;
						color: #FFF;
						padding-left: 25px;
						color: #FFF;
						background: none;
						&:hover {
							background: #000;
						}
					}
					&:hover {
						>a {
							color: #ffffff;
						}
					}
				}
				ul {
					li {
						a {
							padding-left: 35px;
						}
					}
					position: relative;
					left: 0;
					width: 100%;
					margin: 0;
					text-align: left;
				}
				li.active {
					>a {
						color: #ffffff;
					}
				}
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				text-align: left;
				>li.has-sub {
					>a {
						&:after {
							display: none;
						}
						&:before {
							display: none;
						}
					}
				}
				.submenu-button {
					height: 34px;
					width: 34px;
					&:after {
						top: 15px;
						right: 13px;
					}
					&:before {
						top: 12px;
						right: 16px;
					}
				}
			}
		}
		>ul {
			>li {
				&:after {
					display: none;
				}
				>a {
					padding: 15px;
					background: #000;
					font-size: 16px;
				}
				float: none;
			}
			>li.has-sub {
				>a {
					&:after {
						display: none;
					}
					&:before {
						display: none;
					}
				}
			}
		}
		li {
			&:hover {
				>ul {
					>li {
						height: auto;
					}
				}
			}
		}
		#menu-button {
			display: block;
			padding: 13px 17px;
			color: #FFF;
			cursor: pointer;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
			background: #191919;
			width: 100px;
			position: absolute;
			right: 0;
			top: -55px;
			&:after {
				position: absolute;
				top: 20px;
				right: 17px;
				display: block;
				height: 8px;
				width: 20px;
				border-top: 2px solid #FFF;
				border-bottom: 2px solid #FFF;
				content: '';
			}
			&:before {
				position: absolute;
				top: 14px;
				right: 17px;
				display: block;
				height: 2px;
				width: 20px;
				background: #FFF;
				content: '';
			}
		}
		#menu-button.menu-opened {
			&:after {
				top: 21px;
				border: 0;
				height: 2px;
				width: 15px;
				background: #ffffff;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:before {
				top: 21px;
				background: #ffffff;
				width: 15px;
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
		.submenu-button {
			position: absolute;
			z-index: 99;
			right: 0;
			top: 0;
			display: block;
			border-left: 1px solid rgba(120, 120, 120, 0.2);
			height: 46px;
			width: 46px;
			cursor: pointer;
			&:after {
				position: absolute;
				top: 22px;
				right: 19px;
				width: 8px;
				height: 2px;
				display: block;
				background: #ffffff;
				content: '';
			}
			&:before {
				position: absolute;
				top: 19px;
				right: 22px;
				display: block;
				width: 2px;
				height: 8px;
				background: #ffffff;
				content: '';
			}
		}
		.submenu-button.submenu-opened {
			background: #262626;
			&:after {
				background: #ffffff;
			}
			&:before {
				display: none;
			}
		}
	}
	#cssmenu.align-center {
		>ul {
			text-align: left;
		}
	}
	#cssmenu.align-right {
		ul {
			ul {
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				text-align: left;
			}
		}
	}
}
@media only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
	#cssmenu {
		width: 100%;
		ul {
			width: 100%;
			display: none;
			background: #191919;
			li {
				width: 100%;
				border-top: 1px solid rgba(120, 120, 120, 0.2);
				a {
					width: 100%;
					border-bottom: 0;
					color: #FFF;
					&:hover {
						background: #000;
					}
				}
			}
			ul {
				li {
					height: auto;
					a {
						width: 100%;
						border-bottom: 0;
						color: #FFF;
						padding-left: 25px;
						color: #FFF;
						background: none;
						&:hover {
							background: #000;
						}
					}
					&:hover {
						>a {
							color: #ffffff;
						}
					}
				}
				ul {
					li {
						a {
							padding-left: 35px;
						}
					}
					position: relative;
					left: 0;
					width: 100%;
					margin: 0;
					text-align: left;
				}
				li.active {
					>a {
						color: #ffffff;
					}
				}
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				text-align: left;
				>li.has-sub {
					>a {
						&:after {
							display: none;
						}
						&:before {
							display: none;
						}
					}
				}
				.submenu-button {
					height: 34px;
					width: 34px;
					&:after {
						top: 15px;
						right: 13px;
					}
					&:before {
						top: 12px;
						right: 16px;
					}
				}
			}
		}
		>ul {
			>li {
				&:after {
					display: none;
				}
				>a {
					padding: 15px;
					background: #000;
					font-size: 16px;
				}
				float: none;
			}
			>li.has-sub {
				>a {
					&:after {
						display: none;
					}
					&:before {
						display: none;
					}
				}
			}
		}
		li {
			&:hover {
				>ul {
					>li {
						height: auto;
					}
				}
			}
		}
		#menu-button {
			display: block;
			padding: 13px 17px;
			color: #FFF;
			cursor: pointer;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
			background: #191919;
			width: 100px;
			position: absolute;
			right: 0;
			top: -55px;
			&:after {
				position: absolute;
				top: 20px;
				right: 17px;
				display: block;
				height: 8px;
				width: 20px;
				border-top: 2px solid #FFF;
				border-bottom: 2px solid #FFF;
				content: '';
			}
			&:before {
				position: absolute;
				top: 14px;
				right: 17px;
				display: block;
				height: 2px;
				width: 20px;
				background: #FFF;
				content: '';
			}
		}
		#menu-button.menu-opened {
			&:after {
				top: 21px;
				border: 0;
				height: 2px;
				width: 15px;
				background: #ffffff;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:before {
				top: 21px;
				background: #ffffff;
				width: 15px;
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}
		}
		.submenu-button {
			position: absolute;
			z-index: 99;
			right: 0;
			top: 0;
			display: block;
			border-left: 1px solid rgba(120, 120, 120, 0.2);
			height: 46px;
			width: 46px;
			cursor: pointer;
			&:after {
				position: absolute;
				top: 22px;
				right: 19px;
				width: 8px;
				height: 2px;
				display: block;
				background: #ffffff;
				content: '';
			}
			&:before {
				position: absolute;
				top: 19px;
				right: 22px;
				display: block;
				width: 2px;
				height: 8px;
				background: #ffffff;
				content: '';
			}
		}
		.submenu-button.submenu-opened {
			background: #262626;
			&:after {
				background: #ffffff;
			}
			&:before {
				display: none;
			}
		}
	}
	#cssmenu.align-center {
		>ul {
			text-align: left;
		}
	}
	#cssmenu.align-right {
		ul {
			ul {
				position: relative;
				left: 0;
				width: 100%;
				margin: 0;
				text-align: left;
			}
		}
	}
}
