/*	--------------------------------------------------
Global Reset & Standards
-------------------------------------------------- */
/*	--------------------------------------------------
Global Reset & Standards
-------------------------------------------------- */
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/* Firefox 19+ */
/* Firefox 18- */
/* IE */
/*------------------------------------*\
    Inner Page
\*------------------------------------*/
/* Firefox 19+ */
/* Firefox 18- */
/* IE */
/*------------------------------------*\
    Media Queries
\*------------------------------------*/
html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	padding: 0 !important;
	color: #000000;
	font-size: 16px;
	line-height: 1.5;
	height: 100%;
	min-height: 100%;
}
img {
	border: 0;
}
a {
	color: #000;
	text-decoration: none;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
	transition: 1s;
	&:hover {
		text-decoration: none;
		color: #000;
	}
}
.fix {
	position: fixed;
	z-index: 999;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	a.logo {
		img {
			height: 66px;
			margin: 2px 0;
		}
	}
}
.clear {
	clear: both;
	line-height: 0;
	font-size: 0;
}
.topbar {
	background: #f5d002;
	[class^="col-"] {
		&:first-child {
			span {
				font-family: 'Open Sans', sans-serif;
				font-size: 15px;
			}
		}
	}
	ul {
		float: right;
		margin: 0 0px 0 0;
		padding: 0;
		font-family: "Roboto",sans-serif;
		font-weight: 400;
		li {
			display: inline-block;
			padding: 10px 0;
			margin-right: -4px;
			a {
				display: block;
				color: #000000;
				padding: 0 15px;
				font-size: 16px;
				i {
					margin-right: 8px;
				}
			}
			img {
				display: inline-block;
				margin-right: 8px;
			}
			span {
				color: #5c4e00;
				display: inline-block;
				margin-left: 5px;
			}
			&:last-child {
				i {
					margin-right: 0px;
				}
				a {
					padding-right: 0px;
				}
			}
		}
	}
}
header {
	display: block;
	position: relative;
	background: #000;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	padding: 0px 0;
	transition: 1s;
}
a.logo {
	position: relative;
	display: block;
	margin: 2px 0;
	img {
		height: 90px;
		margin: 0px 0;
		transition: all 0.3s;
	}
}
.navigation-area {
	display: block;
	padding: 10px 0;
}
.indx-slider {
	position: relative;
	display: block;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(54, 56, 62, 0.72);
	}
}
#heroBanner {
	width: 100%;
	background-color: rgba(39, 37, 34, 0.8);
	overflow: hidden;
	padding: 0;
	height: calc(100vh - 130px);
	.carousel-item {
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: calc(100vh - 130px);
		img {
			width: 100%;
			height: calc(100vh - 130px);
		}
		&:before {
			content: '';
			background: rgba(0,0,0,0.5);
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}
	.carousel-container {
		display: block;
		justify-content: center;
		align-items: center;
		position: absolute;
		bottom: 0;
		top: 25%;
		left: 0;
		right: 0;
	}
	.carousel-content {
		text-align: left;
	}
	h2 {
		color: #FFF;
		font-size: 75px;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto 20px;
		display: block;
		font-family: 'Bebas Neue', cursive;
		text-transform: uppercase;
		font-weight: 400;
		line-height: 72px;
		small {
			font-size: 60px;
		}
		span {
			color: #f5d002;
		}
	}
	p {
		width: 100%;
		max-width: 1200px;
		display: block;
		-webkit-animation-delay: 0.4s;
		animation-delay: 0.4s;
		margin: 0 auto 40px auto;
		color: #FFF;
		font-size: 15px;
		font-weight: 300;
		font-family: 'Poppins', sans-serif;
		text-shadow: 2px 5px 25px rgba(0,0,0,0.9);
	}
	.carousel-inner {
		.carousel-item {
			transition-property: opacity;
			background-position: center top;
			opacity: 0;
		}
		.active.carousel-item-left {
			opacity: 0;
			left: 0;
			transform: translate3d(0, 0, 0);
		}
		.active.carousel-item-right {
			opacity: 0;
			left: 0;
			transform: translate3d(0, 0, 0);
		}
		.active {
			opacity: 1;
			transition: 0.5s;
		}
		.carousel-item-next.carousel-item-left {
			opacity: 1;
			transition: 0.5s;
		}
		.carousel-item-prev.carousel-item-right {
			opacity: 1;
			transition: 0.5s;
		}
		.carousel-item-next {
			left: 0;
			transform: translate3d(0, 0, 0);
		}
		.carousel-item-prev {
			left: 0;
			transform: translate3d(0, 0, 0);
		}
	}
	.carousel-control-prev {
		width: 10%;
		opacity: 1;
	}
	.carousel-control-next {
		width: 10%;
		opacity: 1;
	}
	.carousel-control-next-icon {
		background: none;
		font-size: 36px;
		line-height: 1;
		width: auto;
		height: auto;
		background: rgba(0, 0, 0, 0.1);
		border-radius: 50px;
		padding: 10px;
		transition: 0.3s;
		color: rgba(255, 255, 255, 0.7);
		&:hover {
			background: rgba(0, 0, 0, 0.4);
			color: rgba(255, 255, 255, 1);
		}
	}
	.carousel-control-prev-icon {
		background: none;
		font-size: 36px;
		line-height: 1;
		width: auto;
		height: auto;
		background: rgba(0, 0, 0, 0.1);
		border-radius: 50px;
		padding: 10px;
		transition: 0.3s;
		color: rgba(255, 255, 255, 0.7);
		&:hover {
			background: rgba(0, 0, 0, 0.4);
			color: rgba(255, 255, 255, 1);
		}
	}
	.carousel-indicators {
		li {
			cursor: pointer;
		}
	}
	.btn-service {
		display: inline-block;
		padding: 9px 35px 9px;
		border-radius: 25px;
		transition: 0.5s;
		margin: 0 10px;
		-webkit-animation-delay: 0.8s;
		animation-delay: 0.8s;
		font-size: 18px;
		line-height: 1.77;
		letter-spacing: 1px;
		font-family: 'Bebas Neue', cursive;
		color: #000;
		background: #f5d002;
		&:hover {
			color: #FFF;
			background: rgba(0,0,0,1);
		}
	}
}
.bannerbtn-area {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.ad-video-area {
	display: block;
	padding: 0 5px;
	position: relative;
	z-index: 99;
	margin: -80px 0 0;
	background: #FFF;
	[class^="col-"] {
		div {
			padding: 10px 5px;
		}
	}
}
.flash-sale {
	display: block;
	margin: 50px 0;
}
.main-heading {
	text-align: center;
	font-weight: 400;
	font-family: 'Bebas Neue', cursive;
	font-size: 48px;
	letter-spacing: 1px;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 30px;
	&:after {
		content: '';
		position: relative;
		display: block;
		width: 90px;
		height: 3px;
		background: #000;
		margin: 0 auto;
	}
}
.under-heading {
	text-align: center;
	padding: 15px 150px 30px;
	color: #62606c;
}
.latestproduct-area {
	display: block;
	margin: 30px 0;
	.owl-theme {
		.owl-nav {
			margin-top: 0;
			position: absolute;
			left: 0;
			top: 25%;
			width: 100%;
			[class*='owl-'] {
				background: #f5d002;
				color: #000;
				margin: 0;
				border-radius: 50%;
				width: 55px;
				height: 55px;
				font-size: 25px;
				transition: 0.9s all;
				&:focus {
					outline: none;
				}
				&:hover {
					background: #000;
					color: #FFF;
				}
			}
		}
	}
	.owl-carousel {
		.owl-nav {
			button.owl-prev {
				position: absolute;
				left: -30px;
				top: 0;
			}
			button.owl-next {
				position: absolute;
				right: -30px;
				top: 0;
			}
		}
	}
}
#indxproductsale {
	.item {
		border: 1px solid #b2b2b2;
		div {
			display: block;
			padding: 15px;
			text-align: center;
			h3 {
				font-family: 'Poppins', sans-serif;
				font-weight: 600;
				font-size: 15px;
				display: block;
			}
			span.price {
				font-family: 'Poppins', sans-serif;
				font-weight: 600;
				font-size: 15px;
				display: block;
				margin-top: 10px;
				i {
					margin-right: 2px;
				}
			}
			span.stras {
				color: #f5d002;
				margin: 10px 0;
				display: block;
			}
			button {
				transition: 0.5s all;
				border: none;
				color: #000;
				background: #f5d002;
				padding: 5px 20px;
				border-radius: 25px;
				font-family: "Roboto", sans-serif;
				font-size: 14px;
				margin: 0px 0 5px;
			}
			p {
				font-size: 15px;
				color: #909090;
			}
		}
		img {
			width: auto;
			max-width: 100%;
			display: block;
			margin: 0 auto;
			transition: 0.5s all;
		}
		figure {
			margin: 15px 0;
			position: relative;
			overflow: hidden;
		}
		a {
			&:hover {
				figure {
					img {
						transform: scale(1.1);
					}
				}
				button {
					background: #000;
					color: #FFF;
				}
			}
		}
	}
}
.snakbase-area {
	display: block;
	position: relative;
	margin: 50px 0;
	background: #f7f0c8;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 42%;
		background: #f5d002 url("../images/bg-chips.jpg") no-repeat bottom left;
		background-blend-mode: multiply;
	}
	[class^="col-"] {
		.nav-holder {
			position: relative;
			z-index: 1;
		}
		&:last-child {
			.tab-content {
				padding: 35px 0px;
				min-height: 500px;
			}
		}
	}
	h2 {
		font-weight: 400;
		font-family: 'Bebas Neue', cursive;
		font-size: 48px;
		letter-spacing: 1px;
		position: relative;
		z-index: 1;
		margin: 45px 0 20px;
	}
	.owl-theme {
		.owl-nav {
			margin-top: 0;
			position: absolute;
			left: 0;
			top: 25%;
			width: 100%;
			[class*='owl-'] {
				background: #2a2a2a;
				color: #FFF;
				margin: 0;
				border-radius: 50%;
				width: 45px;
				height: 45px;
				font-size: 22px;
				transition: 0.9s all;
				&:focus {
					outline: none;
				}
				&:hover {
					background: #000;
					color: #FFF;
				}
			}
		}
	}
	.owl-carousel {
		.owl-nav {
			button.owl-prev {
				position: absolute;
				left: -15px;
				top: 0;
			}
			button.owl-next {
				position: absolute;
				right: -15px;
				top: 0;
			}
		}
	}
}
.nav-holderinner {
	width: 200px;
	text-transform: uppercase;
	.nav-link {
		font-size: 18px;
		i {
			margin-right: 5px;
		}
	}
	.nav-pills {
		.nav-link.active {
			background-color: #000;
			color: #f5d002;
			border-radius: 25px;
		}
		.show {
			>.nav-link {
				background-color: #000;
				color: #f5d002;
				border-radius: 25px;
			}
		}
	}
}
#snakbase {
	.item {
		background: #FFF;
		border: 1px solid #d3d1d2;
		div {
			display: block;
			padding: 25px;
			h3 {
				font-family: 'Poppins', sans-serif;
				font-weight: 500;
				font-size: 18px;
			}
			p {
				font-size: 15px;
			}
			span {
				background: #f5d103;
				display: inline-block;
				font-size: 16px;
				padding: 5px 20px;
				border-radius: 25px;
				transition: 0.5s all;
			}
		}
		a {
			&:hover {
				div {
					span {
						background: #000;
						color: #FFF;
					}
				}
				figure {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
		figure {
			margin: 0;
			position: relative;
			overflow: hidden;
			img {
				width: 100%;
				transition: 0.5s all;
			}
		}
	}
}
.testiminials-area {
	display: block;
	margin: 60px 0 50px;
	position: relative;
	h2 {
		&:after {
			display: none;
		}
	}
}
.speak-content {
	display: block;
	text-align: center;
	font-family: 'Poppins',Sans-Serif;
	max-width: 800px;
	margin: 0 auto;
	span {
		font-size: 20px;
		font-weight: 300;
		padding: 0px 0px 80px;
		display: block;
		i.fa-quote-left {
			font-size: 25px;
			width: 40px;
			position: relative;
			top: -10px;
			color: #333;
		}
		i.fa-quote-right {
			font-size: 25px;
			width: 40px;
			position: relative;
			bottom: -10px;
			color: #333;
			display: none;
		}
	}
	small {
		strong {
			font-style: normal;
			font-weight: 600;
		}
		font-size: 16px;
		display: block;
		font-weight: 200;
		padding: 0 0 15px;
		font-style: italic;
	}
	img {
		width: 100px;
		border-radius: 100%;
		margin: 0px auto 15px;
	}
}
.carousel-indicators {
	li {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: #000;
	}
}
.footer-area {
	display: block;
	width: 100%;
	padding: 25px 0px 0 0;
	background: #2f2f2f;
	color: #FFF;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		lett: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background: #2f2f2f url("../images/footer-bg.jpg") no-repeat bottom left;
		background-blend-mode: multiply;
		opacity: 0.12;
		background-size: cover;
	}
	h5 {
		font-size: 30px;
		letter-spacing: 0.25px;
		margin-bottom: 25px;
		font-weight: 400;
		font-family: 'Bebas Neue', cursive;
	}
	[class^="col-"] {
		div {
			padding: 35px 0 0;
		}
		&:nth-child(2) {
			div {
				padding-left: 45px;
			}
		}
		&:nth-child(3) {
			div {
				padding-left: 55px;
			}
		}
		&:first-child {
			p {
				font-weight: 300;
				font-size: 14px;
				line-height: 25px;
				margin-top: 20px;
			}
			div {
				display: block;
				padding: 35px 0px 5px;
			}
		}
		&:nth-child(4) {
			p {
				font-size: 15px;
				font-weight: 200;
			}
		}
	}
	.btn-primary {
		font-size: 14px !important;
	}
}
ul.footer-bullete {
	display: block;
	margin: 0;
	padding: 0;
	font-weight: 400;
	list-style: none;
	li {
		display: block;
		vertical-align: top;
		position: relative;
		padding: 0px 0px 0px 25px;
		margin: 7px 0;
		i {
			position: absolute;
			left: 0;
			top: 5px;
		}
		a {
			display: inline-block;
			color: #FFF;
			font-weight: 200;
			&:hover {
				color: #dcdf03;
			}
		}
	}
}
.subinpput {
	background: #5d5d5d;
	border: none;
	&::-moz-placeholder {
		font-size: 15px;
		color: #a2a2a2;
	}
	&:-moz-placeholder {
		font-size: 15px;
		color: #a2a2a2;
	}
	&:-ms-input-placeholder {
		font-size: 15px;
		color: #a2a2a2;
	}
	&::-webkit-input-placeholder {
		font-size: 15px;
		color: #a2a2a2;
	}
	&::placeholder {
		font-size: 15px;
		color: #a2a2a2;
	}
}
.cubtn {
	font-size: 14px !important;
	background-color: #dcdf03;
	border: none;
}
ul.privacypl {
	margin: 35px 0 0;
	padding: 0;
	list-style: none;
	li {
		display: inline-block;
		color: #FFF;
		margin: 0 5px;
		font-weight: 200;
		font-size: 14px;
		a {
			color: #FFF;
			&:hover {
				color: #dcdf03;
			}
		}
	}
}
.copyright-area {
	color: #FFF;
	padding: 15px 0;
	border-top: 1px solid rgba(255,255,255,0.15);
	margin-top: 25px;
	[class^="col-"] {
		span {
			font-size: 15px;
			font-weight: 200;
		}
	}
	strong {
		color: #e63e4b;
	}
}
.footer-social {
	display: block;
	list-style: none;
	margin: 25px 0 0 0;
	padding: 0;
	li {
		display: inline-block;
		vertical-align: top;
		margin-right: 5px;
		a {
			display: block;
			color: #FFF;
			font-size: 20px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			background: rgba(255,255,255,0.15);
			text-align: center;
			border-radius: 10px;
			&:hover {
				background: rgba(255,255,255,1);
				color: #134376;
			}
		}
	}
}
.inner-banner {
	display: block;
	clear: both;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.3);
	}
	img {
		width: 100%;
	}
}
.banner-header {
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: 1200px;
	width: 98%;
	z-index: 11;
	text-align: left;
	padding-left: 15px;
	h1 {
		font-family: 'Bebas Neue', cursive;
		font-size: 55px;
		font-weight: 400;
		letter-spacing: 0.5px;
		margin-bottom: 0px;
		white-space: nowrap;
		color: #FFF;
		text-shadow: 0 3px 10px rgba(0,0,0,0.3);
	}
}
.breadcrumb {
	background: none;
	text-align: center;
	display: block;
	text-align: left;
	padding: 0 !important;
	li {
		color: #FFF !important;
		display: inline-block;
		font-size: 18px;
		font-weight: 400;
		a {
			color: #FFF;
		}
	}
}
.breadcrumb-item+.breadcrumb-item {
	&::before {
		color: #FFF !important;
	}
}
.inner-container {
	font-size: 16px;
	line-height: 26px;
	padding: 80px 0;
	h4 {
		font-family: "Open Sans", sans-serif;
		font-size: 20px;
		font-weight: 600;
		color: #231f20;
		border-left: 3px solid #d4a304;
		padding-left: 8px;
	}
	h2 {
		font-family: "Roboto", sans-serif;
		font-size: 36px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 25px;
		span {
			color: #d4a304;
		}
	}
	strong {
		font-weight: 500;
	}
}
.cert-area {
	display: block;
	position: relative;
	margin-bottom: 55px;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 50%;
		background: #fbc001;
		left: 0;
		top: 0px;
	}
	h2 {
		position: relative;
		font-family: "Roboto", sans-serif;
		font-size: 36px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 15px;
		&:after {
			content: '';
			width: 80px;
			height: 2px;
			background: #000;
			position: relative;
			display: block;
			margin: 10px auto 0;
		}
	}
	[class^="col-"] {
		div {
			display: block;
			border: 1px solid #ddd;
			box-shadow: 0 8px 15px rgba(0,0,0,0.25);
			background: #FFF;
			padding: 25px;
			span {
				display: block;
				text-align: center;
				margin-top: 20px;
				font-weight: 500;
				font-size: 19px;
			}
		}
	}
}
.conact-page {
	h3 {
		font-size: 25px;
		font-family: "Roboto", sans-serif;
		font-weight: 600;
		position: relative;
		margin-bottom: 15px 0;
	}
	[class^="col-"] {
		div {
			p {
				font-weight: 400;
			}
		}
		&:last-child {
			h3 {
				margin-bottom: 10px;
			}
			.form-control {
				border-radius: 0;
				border: 1px solid #e1e6eb;
			}
		}
		&:first-child {
			div {
				border: 1px solid #ddd;
				background: #f5d103;
				padding: 30px 30px;
				margin-right: 30px;
				ul.contatlist {
					display: block;
					margin: 0;
					padding: 0;
					list-style: none;
					li {
						display: block;
						position: relative;
						padding-left: 45px;
						margin: 35px 0;
						font-size: 16px;
						font-weight: 400;
						a {
							color: #000;
							font-size: 16px;
							font-weight: 400;
						}
						strong {
							display: block;
							clear: both;
							font-size: 18px;
							font-weight: 600;
						}
						i {
							position: absolute;
							left: 0;
							top: 3px;
							width: 35px;
							height: 35px;
							line-height: 35px;
							background: #000;
							color: #f5d103;
							text-align: center;
							border-radius: 50%;
						}
					}
				}
			}
		}
	}
	.btn-group-lg {
		>.btn {
			border-radius: 3px;
		}
	}
	.form-control {
		background: #cdcdcd;
		&::-moz-placeholder {
			font-size: 15px;
			color: #676767;
		}
		&:-moz-placeholder {
			font-size: 15px;
			color: #676767;
		}
		&:-ms-input-placeholder {
			font-size: 15px;
			color: #676767;
		}
		&::-webkit-input-placeholder {
			font-size: 15px;
			color: #676767;
		}
		&::placeholder {
			font-size: 15px;
			color: #676767;
		}
	}
}
.btn-lg {
	border-radius: 3px;
}
.retailarea-area {
	#accordion {
		padding: 0px 0px;
	}
	.btn-link {
		text-decoration: none;
		font-family: 'Roboto', sans-serif;
		font-weight: 600;
		display: block;
		width: 100%;
		text-align: left;
		color: #FFF;
		letter-spacing: 1px;
		position: relative;
		padding: 10px 20px;
		background: #333;
		border-radius: 35px;
		transition: 0.5s all;
		i {
			position: absolute;
			right: 15px;
			top: 10px;
			font-size: 22px;
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
			transition: 0.3s all;
		}
		&:hover {
			background: #333;
			color: #FFF;
		}
	}
	.btn-link.collapsed {
		i {
			-ms-transform: rotate(180deg);
			transform: rotate(0deg);
		}
		background: #fbc001;
	}
	.card-header {
		padding: 0;
		border-bottom: none;
		color: #000;
		box-shadow: none;
		background: none;
	}
	.nav-pills {
		.nav-link {
			font-family: 'Roboto', sans-serif;
			font-weight: 600;
			font-size: 25px;
			text-transform: uppercase;
		}
		.nav-link.active {
			background-color: #fbc001;
			color: #000;
		}
	}
	.card {
		margin-bottom: 15px;
		border: none;
		background: #FFF;
		.card-body {
			border-left: 1px dashed rgba(255,255,255,0.3);
			li {
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			strong {
				display: block;
			}
		}
	}
}
.nav-pills {
	.show {
		>.nav-link {
			background-color: #fbc001;
			color: #000;
		}
	}
}
.companylist {
	display: block;
	padding: 15px;
	border-top: 3px solid #fbc001;
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
	h5 {
		font-family: 'Roboto', sans-serif;
		font-weight: 600;
		color: #252525;
		margin-bottom: 15px;
		font-size: 16px;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: block;
			position: relative;
			padding-left: 20px;
			i {
				position: absolute;
				left: 0;
				top: 5px;
			}
		}
	}
}
@media (max-width: 1400px) {
	#heroBanner {
		.carousel-container {
			top: 20%;
		}
	}
}
@media (max-width:768px) {
	#heroBanner {
		h2 {
			width: 80%;
		}
		p {
			width: 80%;
		}
	}
	.bannerbtn-area {
		width: 80%;
	}
}
@media (min-width: 1024px) {
	#heroBanner {
		span {
			width: 80%;
		}
		.carousel-control-prev {
			width: 5%;
		}
		.carousel-control-next {
			width: 5%;
		}
	}
}
@media (max-width: 980px) {
	header {
		position: relative;
	}
	a.logo {
		display: block;
		margin: 5px 0;
		img {
			height: 80px;
			margin: 0;
			display: inline-block;
		}
	}
}
@media (max-width: 810px) {
	.topbar {
		[class^="col-"] {
			&:first-child {
				display: none;
			}
		}
		text-align: center;
		ul {
			li {
				a {
					padding: 0 10px;
				}
				&:last-child {
					a {
						padding-right: 10px;
					}
				}
			}
		}
	}
	#heroBanner {
		.carousel-item {
			img {
				object-fit: cover;
			}
		}
	}
	.navigation-area {
		padding: 0;
	}
	.maparea {
		margin-top: 25px;
	}
	.formdv {
		margin-top: 25px;
	}
	.conact-page {
		[class^="col-"] {
			&:first-child {
				div {
					margin-right: 0px;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	header {
		[class^="col-"] {
			&:last-child {
				position: relative;
			}
		}
	}
}
@media (max-width: 575px) {
	header {
		padding: 0px;
	}
	a.logo {
		display: block;
		margin: 5px 0;
		position: relative;
		top: 0;
		img {
			height: 80px;
			margin: 0;
			display: inline-block;
		}
	}
	.navigation-area {
		padding: 0;
	}
	.indx-slider {
		&:after {
			background: none;
		}
	}
	.main-heading {
		font-size: 25px;
		text-align: center;
	}
	.explore-area {
		h2 {
			font-size: 25px;
			text-align: center;
		}
		p {
			padding: 0px 0 0px;
			text-align: center;
		}
	}
	.under-heading {
		padding: 0px 0 0px;
		text-align: center;
	}
	.testiminials-area {
		margin: 25px 0 0;
	}
	.footer-area {
		padding: 0 0 0 0;
		[class^="col-"] {
			&:nth-child(2) {
				div {
					padding-left: 0;
				}
			}
			div {
				padding: 0;
			}
			&:first-child {
				div {
					padding: 25px 0 0 0;
				}
			}
		}
		h5 {
			margin-bottom: 15px;
			margin-top: 35px;
		}
	}
	.inner-banner {
		img {
			height: 150px;
			object-fit: cover;
		}
	}
	.cert-area {
		&:before {
			height: 100%;
		}
		[class^="col-"] {
			margin-bottom: 15px;
		}
	}
}
@media (max-width: 490px) {
	a.logo {
		img {
			height: 60px;
			margin: 0;
			display: inline-block;
		}
	}
	#heroBanner {
		h2 {
			font-size: 40px;
			line-height: 40px;
			margin-bottom: 0px;
			text-align: center;
			small {
				font-size: 30px;
			}
		}
		p {
			margin-bottom: 15px;
			text-align: center;
		}
		.btn-service {
			padding: 5px 25px;
		}
		.bannerbtn-area {
			text-align: center;
		}
	}
	.ad-video-area {
		margin: 25px 0;
		[class^="col-"] {
			div {
				padding: 0px;
			}
			&:last-child {
				margin-top: 20px;
			}
		}
	}
	.flash-sale {
		margin: 25px 0;
	}
	.latestproduct-area {
		margin: 25px 0;
		.owl-carousel {
			.owl-nav {
				button.owl-next {
					right: 0px;
				}
				button.owl-prev {
					left: 0px;
				}
			}
		}
	}
	.main-heading {
		margin-bottom: 10px;
	}
	.snakbase-area {
		.owl-carousel {
			.owl-nav {
				button.owl-next {
					right: 0px;
				}
				button.owl-prev {
					left: 0px;
				}
			}
		}
		margin: 25px 0;
		&:after {
			width: 100%;
		}
		h2 {
			font-size: 40px;
			margin: 15px 0;
			text-align: center;
		}
		[class^="col-"] {
			&:last-child {
				.tab-content {
					padding: 5px 0px 35px;
					min-height: auto;
				}
			}
		}
	}
	.nav-holderinner {
		margin: 0 auto;
		text-align: center;
	}
	.footer-area {
		[class^="col-"] {
			&:nth-child(3) {
				div {
					padding-left: 0px;
				}
			}
		}
	}
	.copyright-area {
		text-align: center;
		img {
			display: block;
			margin: 0 auto 5px;
		}
	}
	.banner-header {
		h1 {
			font-size: 40px;
		}
		bottom: 0px;
	}
	.inner-container {
		h2 {
			font-size: 30px;
			margin-bottom: 15px;
		}
		padding: 20px 0;
	}
	.cert-area {
		margin-bottom: 0px;
		h2 {
			padding-top: 25px;
			font-size: 30px;
		}
	}
}
