/bootstrap/cache
/node_modules
/public/hot
/public/storage
/public/storage/products/*
/storage/*.key
/vendor
.DS_Store
Thumbs.db
/bower_components
.env
.env.backup
/.idea
/.vscode
/.vagrant
/vendor1
/platform/plugins/contact1
Homestead.json
Homestead.yaml
npm-debug.log
sftp-config.json
.phpstorm.meta.php
_ide_helper_models.php
/storage/app/backup
/storage/cache_keys.json

__MACOSX
/.phpintel
/.php_cs.cache

public/vendor/core

_ide_helper.php
package-lock.json
yarn.lock
/.sass-cache

public/mix-manifest.json

public/docs
resources/docs

.phpunit.result.cache
/storage/.license
/storage/fonts
/platform/themes/martfury/assets/js

/log

storage/framework/laravel-excel/
