.main-heading {
    text-align: center;
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 30px
}

.main-heading:after {
    content: '';
    position: relative;
    display: block;
    width: 90px;
    height: 3px;
    background: #000;
    margin: 0 auto
}

.under-heading {
    text-align: center;
    padding: 15px 150px 30px;
    color: #62606c
}

.testiminials-area {
    display: block;
    margin: 60px 0 50px;
    position: relative
}

.testiminials-area h2:after {
    display: none
}

.speak-content {
    display: block;
    text-align: center;
    font-family: Poppins, Sans-Serif;
    max-width: 800px;
    margin: 0 auto
}

.speak-content span {
    font-size: 20px;
    font-weight: 300;
    padding: 0 0 80px;
    display: block
}

.speak-content small strong {
    font-style: normal;
    font-weight: 600
}

.speak-content small {
    font-size: 16px;
    display: block;
    font-weight: 200;
    padding: 0 0 15px;
    font-style: italic
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #000
}

.speak-content img {
    width: 100px;
    border-radius: 100%;
    margin: 0 auto 15px
}

.speak-content span i.fa-quote-left {
    font-size: 25px;
    width: 40px;
    position: relative;
    top: -10px;
    color: #333
}

.speak-content span i.fa-quote-right {
    font-size: 25px;
    width: 40px;
    position: relative;
    bottom: -10px;
    color: #333;
    display: none
}

.footer-area h5, .footer-area p {
    color: #fff !important
}

.footer-area {
    display: block;
    width: 100%;
    padding: 25px 0 0 0;
    background: #2f2f2f;
    color: #fff;
    position: relative
}

.footer-area:before {
    content: "";
    position: absolute;
    lett: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2f2f2f url("../img/footer-bg.jpg") no-repeat bottom left;
    background-blend-mode: multiply;
    opacity: .12;
    background-size: cover
}

.footer-area h5 {
    font-size: 30px;
    letter-spacing: .25px;
    margin-bottom: 25px;
    font-weight: 400;
    font-family: 'Bebas Neue', cursive
}

.footer-area [class^=col-] div {
    /* padding: 35px 0 0 */
}

.footer-area [class^=col-]:nth-child(2) div {
    padding-left: 45px
}

.footer-area [class^=col-]:nth-child(3) div {
    padding-left: 55px
}

.footer-area [class^=col-]:first-child p {
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    margin-top: 20px
}

.footer-area [class^=col-]:first-child div {
    display: block;
    /* padding: 35px 0 5px; */
}

.footer-area [class^=col-]:nth-child(4) p {
    font-size: 15px;
    font-weight: 200
}

ul.footer-bullete {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 400;
    list-style: none
}

ul.footer-bullete li {
    display: block;
    vertical-align: top;
    position: relative;
    padding: 0 0 0 25px;
    margin: 7px 0
}

ul.footer-bullete li i {
    position: absolute;
    left: 0;
    top: 5px
}

ul.footer-bullete li a {
    display: inline-block;
    color: #fff;
    font-weight: 200
}

ul.footer-bullete li a:hover {
    color: #dcdf03
}

.subinpput {
    background: #5d5d5d;
    border: none
}

.cubtn {
    font-size: 14px !important;
    background-color: #dcdf03;
    border: none
}

.subinpput::-moz-placeholder {
    font-size: 15px;
    color: #a2a2a2
}

.subinpput:-moz-placeholder {
    font-size: 15px;
    color: #a2a2a2
}

.subinpput:-ms-input-placeholder {
    font-size: 15px;
    color: #a2a2a2
}

.subinpput::-webkit-input-placeholder {
    font-size: 15px;
    color: #a2a2a2
}

.subinpput::placeholder {
    font-size: 15px;
    color: #a2a2a2
}

ul.privacypl {
    margin: 35px 0 0;
    padding: 0;
    list-style: none
}

ul.privacypl li {
    display: inline-block;
    color: #fff;
    margin: 0 5px;
    font-weight: 200;
    font-size: 14px
}

ul.privacypl li a {
    color: #fff
}

ul.privacypl li a:hover {
    color: #dcdf03
}

.copyright-area {
    color: #fff;
    padding: 15px 0;
    border-top: 1px solid rgba(255, 255, 255, .15);
    margin-top: 25px
}

.copyright-area [class^=col-] span {
    font-size: 15px;
    font-weight: 200
}

.copyright-area .footer-payments span {
    margin: 0 10px 10px 0;
    display: inline-block;
}

.footer-social {
    display: block;
    list-style: none;
    margin: 25px 0 0 0;
    padding: 0
}

.footer-social li {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px
}

.footer-social li a {
    display: block;
    color: #fff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: rgba(255, 255, 255, .15);
    text-align: center;
    border-radius: 10px
}

.footer-social li a:hover {
    background: #fff;
    color: #134376
}

.copyright-area strong {
    color: #e63e4b
}

.footer-area .btn-primary {
    font-size: 14px !important
}

.latestproduct-area {
    display: block;
    margin: 30px 0
}

#indxproductsale .item, .ps-product {
    border: 1px solid #b2b2b2
}

#indxproductsale .item div, .ps-product div {
    display: block;
    padding: 10px 0px;
    text-align: center;
}

#indxproductsale .item img, .ps-product img {
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    transition: .5s all
}

#indxproductsale .item div h3, #indxproductsale .item div span.price, .ps-product div h3, .ps-product div span.price {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    display: block
}

#indxproductsale .item div span.price, .ps-product div span.price {
    margin-top: 10px
}

#indxproductsale .item div span.price i, .ps-product div span.price i {
    margin-right: 2px
}

#indxproductsale .item div span.stras, .ps-product div span.stras {
    color: #f5d002;
    margin: 10px 0;
    display: block
}

#indxproductsale .item div button, .ps-product div button {
    transition: .5s all;
    border: none;
    color: #000;
    background: #f5d002;
    padding: 10px 44px;
    font-weight: bold;
    border-radius: 25px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    margin: 0px 0 5px;
    position: relative;
    /* top: -25px; */
}

#indxproductsale .item div p, .ps-product div p {
    font-size: 15px;
    color: #909090
}

#indxproductsale .item figure, .ps-product figure {
    margin-top: 15px;
    position: relative;
    overflow: hidden
}

#indxproductsale .item a:hover figure img, .ps-product a:hover figure img {
    transform: scale(1.1)
}

#indxproductsale .item div button:hover, .ps-product div button:hover {
    color: #fff !important;
    background: #000 !important
}

.latestproduct-area .owl-theme .owl-nav {
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%
}

.latestproduct-area .owl-theme .owl-nav [class*=owl-] {
    background: #f5d002;
    color: #000;
    margin: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 25px;
    transition: .9s all
}

.latestproduct-area .owl-theme .owl-nav [class*=owl-]:focus {
    outline: 0
}

.latestproduct-area .owl-theme .owl-nav [class*=owl-]:hover {
    background: #000;
    color: #fff
}

.latestproduct-area .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: -30px;
    top: 0
}

.latestproduct-area .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: -30px;
    top: 0
}

.rating_wrap .rating {
    font-family: 'Font Awesome 5 Free' !important;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    height: 20px;
    width: 100px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block !important;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900
}

.rating_wrap .product_rate {
    overflow: hidden;
    font-family: 'Font Awesome 5 Free' !important;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
    color: #f5d002;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900
}

.rating_wrap .product_rate::before, .rating_wrap .rating::before {
    font-size: 16px
}

.snakbase-area {
    display: block;
    position: relative;
    padding: 20px 0;
    background: #f7f0c8;
}

.snakbase-area [class^=col-] .nav-holder {
    position: relative;
    z-index: 1
}

.nav-holderinner {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.nav-holderinner .nav-link {
    margin: 0 30px;
    padding: 0 0 5px;
    font-size: 16px;
    line-height: 16px;
    color: #212529;
    transition: none;
}

.nav-holderinner .nav-link i {
    margin-right: 5px
}

.nav-holderinner .nav-pills .nav-link.active, .nav-holderinner .nav-pills .show > .nav-link {
    background-color: transparent;
    color: inherit;
    font-weight: bold;
    border-bottom: 2px solid black;
    border-radius: 0;
}

.snakbase-area h2 {
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    margin: 45px 0 20px
}

.snakbase-area [class^=col-]:last-child .tab-content {
    padding: 35px 0;
    min-height: 500px
}

#snakbase .item {
    background: #fff;
    border: 1px solid #d3d1d2
}

#snakbase .item div {
    display: block;
    padding: 25px
}

#snakbase .item div h3 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px
}

#snakbase .item div p, .ps-product div p {
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

#snakbase .item div span {
    background: #f5d103;
    display: inline-block;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 25px;
    transition: .5s all
}

#snakbase .item a:hover div span {
    background: #000;
    color: #fff
}

#snakbase .item figure {
    margin: 0;
    position: relative;
    overflow: hidden
}

#snakbase .item figure img {
    width: 100%;
    transition: .5s all
}

#snakbase .item a:hover figure img {
    transform: scale(1.1)
}

.snakbase-area .owl-theme .owl-nav {
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%
}

.snakbase-area .owl-theme .owl-nav [class*=owl-] {
    background: #2a2a2a;
    color: #fff;
    margin: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 22px;
    transition: .9s all
}

.snakbase-area .owl-theme .owl-nav [class*=owl-]:focus {
    outline: 0
}

.snakbase-area .owl-theme .owl-nav [class*=owl-]:hover {
    background: #000;
    color: #fff
}

.snakbase-area .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: -15px;
    top: 0
}

.snakbase-area .owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: -15px;
    top: 0
}

.input-group-lg > .custom-select, .input-group-lg > .form-control:not(textarea) {
    height: calc(2.5em + 1rem + 2px)
}

.footer-area a, .footer-area p {
    font-family: Poppins, sans-serif
}

#heroBanner small, #heroBanner span {
    font-family: "Bebas Neue", cursive
}

.inner-banner {
    display: block;
    clear: both;
    position: relative
}

.inner-banner:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3)
}

.inner-banner img {
    width: 100%
}

.banner-header {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1200px;
    width: 98%;
    z-index: 11;
    text-align: left;
    padding-left: 15px
}

.banner-header h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 0;
    white-space: nowrap;
    color: #fff;
    text-shadow: 0 3px 10px rgba(0, 0, 0, .3)
}

.breadcrumb {
    background: 0 0;
    text-align: center;
    display: block;
    text-align: left;
    padding: 0 !important
}

.breadcrumb li {
    color: #fff !important;
    display: inline-block;
    font-size: 18px;
    font-weight: 400
}

.breadcrumb li a {
    color: #fff
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #fff !important
}

.inner-container {
    font-size: 16px;
    line-height: 26px;
    padding: 80px 0
}

.inner-container h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #231f20;
    border-left: 3px solid #d4a304;
    padding-left: 8px
}

.inner-container h2 {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px
}

.inner-container h2 span {
    color: #d4a304
}

.inner-container strong {
    font-weight: 500
}

.cert-area {
    display: block;
    position: relative;
    margin-bottom: 55px
}

.cert-area:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background: #fbc001;
    left: 0;
    top: 0
}

.cert-area h2 {
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px
}

.cert-area h2:after {
    content: '';
    width: 80px;
    height: 2px;
    background: #000;
    position: relative;
    display: block;
    margin: 10px auto 0
}

.cert-area [class^=col-] div {
    display: block;
    border: 1px solid #ddd;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .25);
    background: #fff;
    padding: 25px
}

.cert-area [class^=col-] div span {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 19px
}

.conact-page h3 {
    font-size: 25px;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    position: relative;
    margin-bottom: 15px;
}

.conact-page [class^=col-] div p {
    font-weight: 400
}

.conact-page [class^=col-]:last-child h3 {
    margin-bottom: 10px
}

.conact-page [class^=col-]:last-child .form-control {
    border-radius: 0;
    border: 1px solid #e1e6eb
}

.btn-lg, .conact-page .btn-group-lg > .btn {
    border-radius: 3px
}

.conact-page [class^=col-]:first-child div {
    border: 1px solid #ddd;
    background: #f5d103;
    padding: 30px 30px;
    margin-right: 30px
}

.conact-page [class^=col-]:first-child div ul.contatlist {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none
}

.conact-page [class^=col-]:first-child div ul.contatlist li {
    display: block;
    position: relative;
    padding-left: 45px;
    margin: 35px 0;
    font-size: 16px;
    font-weight: 400
}

.conact-page [class^=col-]:first-child div ul.contatlist li a {
    color: #000;
    font-size: 16px;
    font-weight: 400
}

.conact-page [class^=col-]:first-child div ul.contatlist li strong {
    display: block;
    clear: both;
    font-size: 18px;
    font-weight: 600
}

.conact-page [class^=col-]:first-child div ul.contatlist li i {
    position: absolute;
    left: 0;
    top: 3px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #000;
    color: #f5d103;
    text-align: center;
    border-radius: 50%
}

.conact-page .form-control {
    background: #cdcdcd
}

.conact-page .form-control::-moz-placeholder {
    font-size: 15px;
    color: #676767
}

.conact-page .form-control:-moz-placeholder {
    font-size: 15px;
    color: #676767
}

.conact-page .form-control:-ms-input-placeholder {
    font-size: 15px;
    color: #676767
}

.conact-page .form-control::-webkit-input-placeholder {
    font-size: 15px;
    color: #676767
}

.conact-page .form-control::placeholder {
    font-size: 15px;
    color: #676767
}

.retailarea-area #accordion {
    padding: 0 0
}

.retailarea-area .btn-link {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    display: block;
    width: 100%;
    text-align: left;
    color: #fff;
    letter-spacing: 1px;
    position: relative;
    padding: 10px 20px;
    background: #333;
    border-radius: 35px;
    transition: .5s all;
    font-size: 16px
}

.retailarea-area .btn-link i {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: .3s all
}

.retailarea-area .btn-link.collapsed i {
    -ms-transform: rotate(180deg);
    transform: rotate(0)
}

.retailarea-area .btn-link.collapsed {
    background: #fbc001
}

.retailarea-area .btn-link:hover {
    background: #333;
    color: #fff
}

.retailarea-area .card-header {
    padding: 0;
    border-bottom: none;
    color: #000;
    box-shadow: none;
    background: 0 0
}

.retailarea-area .nav-pills .nav-link {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase
}

.nav-pills .show > .nav-link, .retailarea-area .nav-pills .nav-link.active {
    background-color: #fbc001;
    color: #000
}

.retailarea-area .card {
    margin-bottom: 15px;
    border: none;
    background: #fff
}

.retailarea-area .card .card-body {
    border-left: 1px dashed rgba(255, 255, 255, .3)
}

.retailarea-area .card .card-body li {
    margin-bottom: 10px
}

.retailarea-area .card .card-body li:last-child {
    margin-bottom: 0
}

.retailarea-area .card .card-body strong {
    display: block
}

.companylist {
    display: block;
    padding: 15px;
    border-top: 3px solid #fbc001;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3)
}

.companylist h5 {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    color: #252525;
    margin-bottom: 15px;
    font-size: 16px
}

.companylist ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.companylist ul li {
    display: block;
    position: relative;
    padding-left: 20px
}

.companylist ul li i {
    position: absolute;
    left: 0;
    top: 5px
}

#submit_button {
    font-size: 20px !important
}

@media (max-width: 980px) {
    header {
        position: relative
    }

    a.logo {
        display: block;
        margin: 5px 0
    }

    a.logo img {
        height: 80px;
        margin: 0;
        display: inline-block
    }
}

@media (max-width: 810px) {
    .topbar [class^=col-]:first-child {
        /* display: none */
    }

    .topbar {
        text-align: center
    }

    .topbar ul li a {
        padding: 0 10px
    }

    .topbar ul li:last-child a {
        padding-right: 10px
    }

    #heroBanner .carousel-item, #heroBanner .carousel-item img, #heroBanner{
        height: auto;
    }

    .navigation-area {
        padding: 0
    }

    .maparea {
        margin-top: 25px
    }

    .formdv {
        margin-top: 25px
    }

    .conact-page [class^=col-]:first-child div {
        margin-right: 0
    }
}

@media (max-width: 768px) {
    header [class^=col-]:last-child {
        position: relative
    }
}

@media (max-width: 575px) {
    header {
        padding: 0
    }

    a.logo {
        display: block;
        margin: 5px 0;
        position: relative;
        top: 0
    }

    a.logo img {
        height: 80px;
        margin: 0;
        display: inline-block
    }

    .navigation-area {
        padding: 0
    }

    .indx-slider:after {
        background: 0 0
    }

    .explore-area h2, .main-heading {
        font-size: 25px;
        text-align: center
    }

    .explore-area p, .under-heading {
        padding: 0 0 0;
        text-align: center
    }

    .testiminials-area {
        margin: 25px 0 0
    }

    .footer-area {
        padding: 0
    }

    .footer-area [class^=col-]:nth-child(2) div {
        padding-left: 0
    }

    .footer-area [class^=col-] div {
        padding: 0
    }

    .footer-area h5 {
        margin-bottom: 15px;
        margin-top: 35px
    }

    .footer-area [class^=col-]:first-child div {
        /* padding: 25px 0 0 0 */
    }

    .inner-banner img {
        height: 150px;
        object-fit: cover
    }

    .cert-area:before {
        height: 100%
    }

    .cert-area [class^=col-] {
        margin-bottom: 15px
    }
}

@media (max-width: 490px) {
    a.logo img {
        height: 60px;
        margin: 0;
        display: inline-block
    }

    #heroBanner h2 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 0;
        text-align: center
    }

    #heroBanner h2 small {
        font-size: 30px
    }

    #heroBanner p {
        margin-bottom: 15px;
        text-align: center
    }

    #heroBanner .btn-service {
        padding: 5px 25px
    }

    #heroBanner .bannerbtn-area {
        text-align: center
    }

    .ad-video-area {
        margin: 25px 0
    }

    .ad-video-area [class^=col-] div {
        padding: 0
    }

    .ad-video-area [class^=col-]:last-child {
        margin-top: 20px
    }

    .flash-sale, .latestproduct-area {
        margin: 25px 0
    }

    .main-heading {
        margin-bottom: 10px
    }

    .latestproduct-area .owl-carousel .owl-nav button.owl-next, .snakbase-area .owl-carousel .owl-nav button.owl-next {
        right: 0
    }

    .latestproduct-area .owl-carousel .owl-nav button.owl-prev, .snakbase-area .owl-carousel .owl-nav button.owl-prev {
        left: 0
    }

    .snakbase-area {
        padding: 25px 0;
    }

    .snakbase-area:after {
        width: 100%
    }

    .snakbase-area h2 {
        font-size: 40px;
        margin: 15px 0;
        text-align: center
    }

    .nav-holderinner {
        text-align: center;
    }

    .snakbase-area [class^=col-]:last-child .tab-content {
        padding: 5px 0 35px;
        min-height: auto
    }

    .footer-area [class^=col-]:nth-child(3) div {
        padding-left: 0
    }

    .copyright-area {
        text-align: center
    }

    .copyright-area img {
        display: block;
        margin: 0 auto 5px
    }

    .banner-header h1 {
        font-size: 40px
    }

    .inner-container h2 {
        font-size: 30px;
        margin-bottom: 15px
    }

    .banner-header {
        bottom: 0
    }

    .inner-container {
        padding: 20px 0
    }

    .cert-area {
        margin-bottom: 0
    }

    .cert-area h2 {
        padding-top: 25px;
        font-size: 30px
    }

    .footer-payments img {
        display: inline
    }
}

.ps-product__actions {
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap !important;
    justify-content: center !important;
    max-width: 200px !important;
    list-style: none !important;
    margin: 0 auto !important;
    padding: 0px 0 !important;
    transition: all .5s cubic-bezier(.7, 0, .3, 1) 0s !important;
    margin-top: -14px !important;
    position: relative;
}

.ps-product__actions li {
    margin-right: 10px
}

.ps-product__actions li a {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 34px;
    justify-content: center;
    width: 34px
}

.ps-product__actions li a:hover {
    background-color: var(--color-1st);
    color: #fff
}

.header__actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.header__extra {
    margin: 0 10px;
    display: inline-block;
    height: 42px;
    position: relative;
    transition: all .4s ease;
    width: 30px;
}

.header__extra > i {
    font-size: 16px;
    font-weight: bold;
    line-height: 42px;
}

.header__extra span {
    align-items: center;
    background-color: #000;
    border-radius: 50%;
    bottom: 0;
    color: #fff !important;
    display: flex !important;
    height: 20px;
    justify-content: center;
    position: absolute;
    right: -6px;
    vertical-align: top;
    min-width: 20px;
}

.header__extra span i {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1em;
}

.footer-payments img {
    height: 25px;
}

.conact-page p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.ps-block--countdown-deal .ps-block__left h3 {
    text-align: center;
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    letter-spacing: 1px;
    position: relative;
}

.ps-block--countdown-deal {
    margin-top: 20px;
}

.download-links a {
    margin-right: 20px;
}

#heroBanner .carousel-item:before {
    content: none;
}

#SnackIt {
    padding-top: 64px;
}

#homepage-1 .ps-deal-of-day {
    padding-top: 64px;
}

.ps-product {
    padding: 0 !important;
    margin-bottom: 20px;
}

.ps-list--categories li a.active {
    color: var(--color-1st);
}

.widget_shop .form-control {
    background-color: white;
}

.ps-product .ps-product__badge {
    top: 11px;
}

.ad-video-area {
    margin: 0;
}

.flash-sale {
    display: block;
    margin: 0;
}

.select2-container--open {
    z-index: 9999999
}

ul.select2-choices {
    padding-right: 30px !important;
}

ul.select2-choices:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 5px solid #333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.select2 .select2-selection--single .select2-selection__arrow:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f107";
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f5d002;
}

#SnackIt li.list-item {
    padding: 0 0 0 20px;
    border-bottom: solid 2px gray;
}

@media (max-width: 578px) {
    button.add-to-cart-button {
        padding: 4px 10px !important;
        /* top: -17px !important; */
    }

    .ps-products-listing .col-6 {
        padding: 0 5px;
    }

    .nav-holderinner .nav-link {
        font-size: 13px;
        line-height: 13px;
        margin: 0 10px;
    }

    #SnackIt li.list-item {
        padding: 0;
    }

    .copyright-area {
        text-align: left;
    }

    .footer-social {
        margin: 0 0 10px 0;
    }

    .ps-table--compare tbody tr td {
        min-width: auto;
    }
    .ps-compare .ps-btn, .ps-compare button.ps-btn{
        padding: 5px;
    }
    #SnackIt li.list-item {
        border-bottom: none;
    }
}

